<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.flight.Filght"/>
      <parameter name="departureCity" value="Boston"/>
      <parameter name="destinationCity" value="London"/>
      <parameter name="name" value="Satheeshkumar"/>
      <parameter name="address" value="Medavakkam"/>
      <parameter name="city" value="Chennai"/>
      <parameter name="state" value="Tamil Nadu"/>
      <parameter name="zipCode" value="600100"/>
      <parameter name="cardType" value="American Express"/>
      <parameter name="cCNumber" value="1234567890567890"/>
      <parameter name="cCM" value="May"/>
      <parameter name="cCY" value="2024"/>
      <parameter name="nameOnCard" value="SatheeshkumarEswaran"></parameter>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
